@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Work+Sans:wght@100;400;700&display=swap");
*:focus {
  outline: transparent;
}
body {
  text-align: center;
  background-color: white;
  scroll-behavior: smooth;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #484848;
  box-sizing: border-box;
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

link {
  color: #61dafb;
}

p {
  text-align: left;
}

.sel:hover {
  cursor: pointer;
}
.focus:focus {
  outline: -webkit-focus-ring-color auto 1px;
  width: fit-content;
}
